.main-header {
  background-color: var(--color-layer-1);
  padding: 1.5625rem;
  height: 6.25rem;
}

.main-header > a {
  float: right;
}

@media screen and (max-width: 600px) {
  .main-header > a {
    display: none;
  }
}
