.user-card {
  border-radius: 0.625rem;
  border: 1px solid var(--color-secondary);
  background-color: var(--color-layer-1);
  display: flex;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  max-width: 43.75rem;
  width: 100%;
}

.user-card > .avatar {
  flex: 1;
  text-align: center;
}

.user-card > .avatar > .image {
  height: 16.25rem;
  width: 16.25rem;
  border-radius: 100%;
  border: 2px solid var(--color-primary);
}
